@media screen and (max-width:600px) {
   
   /*global area styles  */
   header{
    width:90%;
    margin:auto;}
   
   section{
        width:90%;
        margin:0px auto 0px auto;}

     .section-title{
          font-size: 1.5rem;
        }
   /* nav area style */
    /* nav{
   
   }  */

   .logo-icon{
    height: 55px;
    width: 70px;
}
   .earth{
      font-size: 1.5rem;}
   .menu{
    display: none;
   }
   .mobile-menu{
    display:inline;}
    .mobile-menu img{
      height: 30px;
      width: 30px;
    }

   /* banner style */
    .banner{
        background-image:linear-gradient(180deg, rgba(31, 31, 42, 0.8) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
        background-size:cover;
        background-position: center;}

.content-area{
    padding:1rem;
    padding-bottom:1rem;
 
}
  .banner-title{
    font-size: 2rem;
  }  
.banner-desc{
    width: auto;}

 form input, form select, form button{
    width: 100%;}

/* popular tour section style */
.popular-tours{
    flex-direction: column;
    gap:50px;
    margin-top:0px;
}
.popular-desc, .popular-list{
    width: auto;
    line-height:2rem;
}
/* extra section responsiveness */
.where-go-item{
  margin-top:50px;
  display:grid;
  grid-template-columns: repeat(2,1fr);}

/* choose a destination section style */

.collage-one, .collage-two, .collage-three{
  grid-template-columns: 1fr;
  height: auto;}

  .center-title{
    top:35%;
    left:35%;
    font-size: 20px;
    font-weight: 700;
}


/* why choose us section styles */
.destination-desc{
  width: 100%;}

  .why-us{
    grid-template-columns: 1fr;
  }
  .item-desc{
      width: 100%;}
      .why-us-second-item{
        width: 100%;}

/* reward section responsive */

.reward-area{
  width: 100%;
  margin-top: 150px;}

  .main-content, .main-content-two{
    padding:20px;}

 /* simple perfect place section */

 .simple-perfect-place{
  flex-direction: column;
  gap:30px;}

  /* newsletter area responsive */
  .newsletter-area{
    flex-direction: column;}

.newsletter-content{
        padding:20px;}

    .img-area{
      width: auto;
  }
  .img-area img{
    width:100%;
}
#newsletter{
  text-align: center;}

.newsletter-field{
  width:95%;}
.newsletter-button{
  width:95%;
}
.badge-text{
  font-size: 18px;}
.badge-title{
  font-size: 20px;
}
.badge{
  transform: rotate(-30.628deg);
  width: 50%;
}

/* footer area responsiveness */

footer{
  margin-top: 50px;
}
#footer-text{
  width:90%;
}
hr{
  width: 80%;}

}

@media screen and (max-width:480px) {
  .badge{
    width: 60%;
}
.where-go-item{
  margin-top:50px;
  display:grid;
  grid-template-columns: 1fr;}
}